.cou1{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	padding-bottom:50px;

	img{
		width: 520px;
		height: 400px;
		background-color: #73b4b6;
		margin-top: 50px;
	}
}

.cou1-img{
	width:100%;
	height:550px;
}

.course-list{
	width:770px;
	display:flex;
	flex-wrap:wrap;
	margin-right:60px;
}

.course{
	width:345px;
	color: #a7a9ac;
	margin: 0 40px 50px 0;

	h5{
		font-size: 24px;
		
	}

	p{
		font-size: 18px;
		line-height: 1.5;
	}
}

.more{
	color:#ff0619;
	font-size:20px;
	margin-right:120px;

	span{
		color: #a7a9ac;
		margin-left: 5px;
	}
}

.cou4{
	width:100%;
	display:flex;
	justify-content: center;
	margin-top:25px;

	.desc-img{
		flex:0 0 620px;
		height: 400px;
		background-color: #73b4b6;
	}

	.desc-text{
		flex:1;
		padding: 34px 0 0 50px;
		color: #a7a9ac;

		h5{
			font-size: 18px;
			line-height: 18px;
		}

		p{
			font-size: 18px;
			line-height: 18px;
			margin: 25px 0 50px 0;
		}
	}
}

.cou5{
	width:100%;
	display:flex;
	justify-content: center;
	margin-top:25px;

	.teacher-desc{
		flex:0 0 620px;
		height: 560px;
		background-color: #73b4b6;
	}

	.teacher-list{
		flex: 1;
		display: flex;
		flex-direction: column;

		.teacher-item{
			flex:1;
			width: 100%;
			display: flex;
			align-items:center;

			.teacher-avatar{
				width: 108px;
				height: 108px;
				background-color: #73b4b6;
				overflow: hidden;
				border-radius:50%;
				border:3px solid #fff;
				margin:0 30px;
			}

			.teacher-info{
				flex:1;
				font-size: 18px;
				color: #a7a9ac;
				padding-right:50px;
				margin-top: 25px;

				p{
					margin-top: 18px;
				}
			}
		}
	}
}

.bg1{
	background-color:#f8f8f8;
}

.bg2{
	background-color:#fff5e6;
}

.bg3{
	background-color:#d9f2f9;
}

.cou6{
	width:100%;
	height:620px;
	background-color:#73b4b6;
	margin-top:24px;
	position: relative;

	.about-us{
		width: 760px;
		position:absolute;
		top: 235px;
		left: 115px;
		color: #fff;

		h4{
			font-size: 36px;
		}

		p{
			font-size: 18px;
		}

		.f4ea9f1{
			color: #4ea9f1;
			font-size: 20px;
		}
	}
}